﻿.bootstrap-notify-container {
    max-width: 320px;
    text-align: center;
}
.bootstrap-warning-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    width: 90%;
    text-align: center;
    padding-top: 50px !important;
    padding-bottom: 30px !important;
    z-index: 9000 !important;;
    .notify-title {
        position: absolute;
        top: 5px;
        left: 20px;
        font-size: 20px;
        text-transform: uppercase;
    }
    .notify-msg {
        font-size: 16px;
    }
    .notify-icon {
        display: block;
        font-size: 66px;
        margin-bottom: 15px
    }
    .close {
        font-size: 36px;
    }
}
.bootstrap-warning-overlay{
    position: fixed !important;
    z-index: 8999 !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;;
    background-color: rgba(0,0,0, .85);
}


