#projects_calendar {
  .dx-scheduler-navigator {
    .dx-widget {
      display: none;
    }
  }

 /* .dx-scheduler-sidebar-scrollable  {
    width: 250px;
    height: 200px;
  }*/
}
.dx-scheduler-sidebar-scrollable.dx-scrollable-customizable-scrollbars.dx-scrollable-vertical{
 // width: 250px !important;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-header-scrollable {
  //margin-left: 200px;
}

.dx-scheduler-group-header{
 // width: 200px !important;
}

.dx-scheduler-group-header-content {
   //     width: 200px !important;
}

.group-header-users{
  //width: 200px;
  //height: 200px;
  display: block;
  position: relative;
  top: -28px;
  text-align: right;

  span {
    font-size: 12px;
    font-weight: normal;
  }

  .staff {
    position: absolute;
    top: 2px;
    left: 2px;

    i {
      font-size: 14px;
    }
  }

  .region {
    position: absolute;
    top: 2px;
    left: 20px;
  }

  .name {
    position: absolute;
    top: 20px;
    right: 3px;
    font-weight: bold;
  }

  .balance{
    position: absolute;
    left: 0px;
    top: 51px;
    font-size: 10px;
  }

}

.appointment-dates {
    color: #959595;
    font-size: 12px;
    text-align: left;
    float: left;
}

.appointment-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 270px;
    font-size: 15px;
    text-align: left;
    float: left;
}

    @each $key, $val in $region_colors {
        .region_#{#{$key}} {
            color: #{$val};
        }
        .region_bg_#{#{$key}} {
            background-color: #{$val};
          color: #fff;
        }
    }

.dx-scheduler-timeline .dx-scheduler-header-panel-cell:not(.dx-scheduler-header-panel-week-cell){
  justify-content: left !important;
  padding-left: 5px;
}


.fc-resource-area.fc-widget-header {
  width: 0px !important;
}