﻿.dropzone {
    border: 2px solid transparent !important;
    background-color: #eee !important;

    .dz-message {
        .drag-icon-cph {
            .material-icons {
                font-size: 80px;
                color: #777;
            }
        }
    }
    .dz-preview.dz-image-preview {
        background-color: #eee !important;
    }
}

.dz-drag-hover {
    border: 2px dashed #888 !important;
}

.dz-preview:before {
    content: 'удалить';
    right: 0px;
    bottom: 0px;
    background-color: #F44336;
    z-index: 9999999999999;
    display: block;
    width: 120px;
    height: 20px;
    position: absolute;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 0px 0px 20px 20px;
}
