@font-face {
  font-family: 'EmojiFont';
  src: url('../fonts/emoji/OpenSansEmoji.ttf') format('truetype'),
       url('../fonts/emoji/OpenSansEmoji.otf') format('opentype');
}

.emoji {
  font-family: 'EmojiFont', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none !important;
}