﻿body {
    background-color: #696969;
    @include transition(all .5s);
    font-family: 'Exo 2', Arial, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.block-header{
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }
}

button,
input,
select,
a {
    outline: none !important;
}

.no-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

section {
    &.content {
        margin: 100px 15px 0 315px;
        @include transition(.5s);
    }
}

.transaction-table .attached-img{
    width: 150px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 30px;
}
.navbar-brand{
    span.logo {
        display: inline-block;
        width: 142px;
        height: 22px;
        background: url(/images/logo.png) no-repeat;
    }
}
#leftsidebar .user-info .dropdown-menu {
    min-width: 190px;
}

.btn .fa {
    padding-bottom: 5px;
}
i.load {
     -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 600ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 0px 8px 6px 8px;

    font-size: 14px !important;
    color: #607D8B !important;
}
.btn.load {
     -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 600ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 0px 8px 6px 8px;

    background-color: #607D8B !important;

    i.fa {
        padding: 4px 0 6px 0 !important;
        font-size: 10px !important;
        line-height: 10px !important;
    }
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.dx-widget {
    clear: both !important;
}


.project-filter {

    clear: both;
    min-height: 55px;

    #project-date-range {
        background: #fff;
        cursor: pointer;
        padding: 5px 10px 8px 10px;
        border-bottom: 1px solid #ddd;
        width: 240px;
    }

    .project-regions, .project-statuses {
        width: 300px;
    }

    .project-workers {
        width: 240px;
    }

}

.project-filter form > div {
    margin-right: 10px;
    margin-bottom: 15px;
    float: left;
}

#time_line_row {

    .irs-grid-text {

        b.midnight {
            color: #009688;
            font-weight: 900;
        }

    }

    .irs-grid-pol.midnight {
        background-color: #009688;
        width: 3px;
    }

    .irs-bar.midnight {
        background-position-y: -74px;
    }

    .irs-single, .irs-to, .irs-from {

        .sdate {
            display: none;
        }

        font-size: 16px;

    }

}

#form-project .irs-disabled {
    display: none;
}

.modal-dialog{
    .form-horizontal .form-group {
        margin-bottom: 30px;
    }
}

#cord_dash_table {
    td.id {
        cursor: pointer;
    }
    td.id:hover {
        font-weight: bold;
    }

    @each $key, $val in $project_fail_statuses_colors {
        tr.project_status_#{#{$key}} {
            color: #{$val};
        }
        tr.project_status_#{#{$key}} td {
            text-decoration: line-through;
        }
        tr.project_status_#{#{$key}} .info_cell {
            text-decoration: none;
            color: #9e9e9e !important;
        }
    }
}

.info-boxes-links {
    margin-left: -5px;
    margin-right: -5px;
    > div {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        .btn {
            padding-left: 5px;
            padding-right: 5px;
            font-weight: normal;
            font-size: 12px;

        }
    }
}

.rating-input {

    display: block;
    width: 150px;

    i {
        margin-right: 10px;
    }

    a.rating-clear {
        margin-top:10px;
        display: block;
        cursor: pointer;
        color: #518381;
    }

    .fa-heart {
        color: #F44336;
    }
}

.dropdown-menu.inner {
    @for $i from 1 through 5 {
        a.opt.desire_#{$i} {
            span.desire:before{
                @include repeat(' \f004 ', $i);

                color: red;
                display: inline-block;
                margin-left: 5px;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }
}

.desire{
    @for $i from 1 through 5 {
        .desire_#{$i} {
            &:before{
                @include repeat(' \f004 ', $i);

                color: red;
                display: inline-block;
                margin-left: 5px;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 8px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }
}

.icon-label {
    position: relative;
    top: -8px;
    left: 7px;
}

.transactions-list, .cash-flow-list {
    a {
        font-weight: normal;
        font-size: 14px;
    }
}
.swal2-popup > .swal2-select{
    display: none !important;
}
.swal2-popup .swal2-styled:focus{
    box-shadow: none !important;
}

.plus_value:after {
    content: "\f063";
    color: #fd0505;
}
.minus_value:after {
    content: "\f062";
    color: #12a802;
}
.plus_value:after, .minus_value:after {
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5px;
}

.cursor-pointer {
    cursor: pointer !important;
}

.orange-blink {
    animation: orange-blink 6s linear infinite;
}

.modal {
    z-index: 1050;
}

#my_calendar {
    .event_none {
        background-color: #a8d7ff;
    }
    .event_busy3 {
        background-color: #FFA5A7;
    }
    .event_free3 {
        background-color: #87ff8e;
    }
    .busy_text{
        color:  #484848;
    }
}

#add_range_form {
    #busy_status {
        float: left;
        width: 45%
    }
    #busy_submit {
        float: right;
        width: 45%
    }
    #busy_comment {
        margin-bottom: 10px;
    }

    #busy_submit.dx-state-disabled,
    #busy_submit.dx-state-disabled .dx-button-content {
        padding: 0;
    }

    #busy_submit .button-indicator {
        height: 32px;
        width: 32px;
        display: inline-block;
        vertical-align: middle;
    }
}

.dx-scheduler-appointment-project{
    z-index: 2;
    .dx-scheduler-appointment-content{
        &.vk_not_send{
            border-left: 8px solid red;
        }
    }
}
.dx-scheduler-appointment.dx-scheduler-appointment-busy{
    z-index: 1;
    opacity: 0.7;
    &.busy_0{
        background-color: rgba(0, 71, 239, 0.31);
        .busy{
            color: rgb(0, 29, 93);
        }
    }
    &.busy_3{
        background-color: rgba(12, 239, 8, 0.31);
        .busy {
            color: rgb(23, 130, 0);
        }
    }
    &.busy_-3{
        background-color: rgba(239, 0, 59, 0.31);
        .busy {
            color: rgb(120, 30, 44);
        }
    }
}