﻿.panel-group {
    @each $key, $val in $colors {
        .panel-col-#{#{$key}} {
            border: 1px solid $val;

            .panel-title {
                background-color: $val !important;
                color: #fff;
            }

            .panel-body {
                border-top-color: transparent !important;
            }
        }
    }

    .panel-col-clear {
        border: 1px solid silver;

        .panel-title {
            color: #000;
            border: 1px solid silver;
        }

        .panel-body {
            color: #000;
            border: 1px solid silver;
        }
    }

    .panel {
        @include border-radius(0);

        .panel-title {
            .material-icons {
                float: left;
                line-height: 16px;
                margin-right: 8px;
            }
        }

        .panel-heading {
            padding: 0;
            @include border-radius(0);

            a {
                display: block;
                padding: 10px 15px;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
            }
        }

        .panel-body {
            color: #555;
        }
    }

    .panel-primary {
        border: 1px solid #1f91f3;

        .panel-title {
            background-color: #1f91f3;
        }
    }

    .panel-success {
        border: 1px solid #2b982b;

        .panel-title {
            background-color: #2b982b;
            color: #fff;
        }
    }

    .panel-warning {
        border: 1px solid #ff9600;

        .panel-title {
            background-color: #ff9600;
            color: #fff;
        }
    }

    .panel-danger {
        border: 1px solid #fb483a;

        .panel-title {
            background-color: #fb483a;
            color: #fff;
        }
    }
}

.full-body {
    @each $key, $val in $colors {
        .panel-col-#{#{$key}} {
            .panel-body {
                border-top-color: #fff !important;
                background-color: $val;
                color: #fff;
            }
        }
    }

    .panel-primary {
        .panel-body {
            border-top-color: #fff !important;
            background-color: #1f91f3;
            color: #fff;
        }
    }

    .panel-success {
        .panel-body {
            border-top-color: #fff !important;
            background-color: #2b982b;
            color: #fff;
        }
    }

    .panel-warning {
        .panel-body {
            border-top-color: #fff !important;
            background-color: #ff9600;
            color: #fff;
        }
    }

    .panel-danger {
        .panel-body {
            border-top-color: #fff !important;
            background-color: #fb483a;
            color: #fff;
        }
    }
}
