#portfolio_photo_tile {
  .dx-empty-message {
    margin-top: 10px;
  }
}

.dx-tile-content {
  height: 100%;
  padding: 0;
  position: relative;
}

.dx-tile-content .image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 10px;
  display: block;
}

.dx-tile {
  border: 1px solid #999;
}

.dx-tile.dx-state-hover {
  border-color: #EEE;
}

.dx-tile-content .tags, .dx-tile-content .title, .dx-tile-content .vote, .dx-tile-content .author, .dx-tile-content .my_vote, .dx-tile-content .zoom, .dx-tile-content .edit, .dx-tile-content .remove {

  position: absolute;
  z-index: 9;
}

.dx-tile-content .tags > span, .dx-tile-content .title, .dx-tile-content .vote, .dx-tile-content .author, .dx-tile-content .zoom:after, .dx-tile-content .edit:after, .dx-tile-content .remove:after {

  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.dx-tile-content {
  .title {
    font-size: 14px;
    padding: 4px;
    left: 9px;
    top: 9px;
  }

  .tags {
    padding: 0 9px 0 0;
    left: 9px;
    bottom: 9px;
  }

  .tags > span {
    font-size: 12px;
    padding: 3px;
    margin: 3px 3px 0 0;
    line-height: 24px;
  }

  .tags > span.no_tags {
    background-color: #de0600;
    padding: 4px 10px;
  }

  .vote {
    font-size: 14px;
    padding: 4px;
    left: 9px;
    top: 9px;

    &.approved {
      background-color: rgba(4, 171, 0, 0.6);
    }

    &.not_approved {
      background-color: rgba(236, 0, 0, 0.6);
    }

    &.not_quorum {
      background-color: rgba(226, 119, 13, 0.6);
    }
  }

  .author {
    font-size: 12px;
    padding: 4px 6px;
    right: 9px;
    top: 9px;
    opacity: 1;
  }

  .zoom:after, .edit:after, .remove:after {
    font-size: 40px !important;
    display: inline-block;
    opacity: 0;
    font: normal normal normal 14px/1 FontAwesome;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 57px;
    width: 60px;
    line-height: 47px;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    float: right;
    text-decoration: none !important;
    outline: medium none;

  }

  .zoom {
    left: 62px;
    top: 95px;
  }

  .zoom:after {
    content: "\f00e";
  }

  .edit {
    left: 145px;
    top: 95px;
  }

  .edit:after {
    content: "\f044";
  }

  .remove {
    right: 9px;
    top: 9px;
  }

  .remove:after {
    content: "\f1f8";
  }

  .my_vote {
    left: 72px;
    top: 62px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 120px;
    opacity: 0.6;

    &.fa-ban {
      color: #b7050c;
    }

    &.fa-check {
      color: #0db71a;
    }

  }

}

.dx-tile-content:hover {
  .author {
    opacity: 0;
    transition-duration: 500ms;
  }

  .zoom:after, .edit:after, .remove:after {

    display: inline-block;
    opacity: 1;
    transition-duration: 1s;
    z-index: 10 !important;

  }
}


#form_photo_add .dx-fileuploader.dx-fileuploader-show-file-list {
  border: 1px dashed silver;
}

#cboxOverlay.muted, #colorbox.muted{
  z-index: 1059 !important;
}

#cboxContent {

  .vote_loader {
    display: none;
  }

  .dx-item.dx-buttongroup-item {
    //background-color: #fffdfd;
  }

  .moderate-function {
    position: absolute;
    bottom: 15px;
    left: 50%;

    .colorbox-vote {
      position: absolute;
      left: -36px;
      bottom: 0px;
      transition: all .5s linear;
      opacity: 1;
      border-radius: 4px;
      background-color: #fcfbfb1a;
    }

    .load_indicator {
      //display:none;
      opacity: 0;
      color: #fff;
      position: absolute;
      left: -36px;
      bottom: 0px;
      width: 73px;
      height: 36px;
      background: #000000a1;
      border-radius: 5px;
      padding: 3px;
      text-align: center;
      transition: all .5s linear;

      i.fa {
        font-size: 16px;
        line-height: 16px;
      }

      span {
        display: block;
        font-size: 11px;
        line-height: 14px;
      }
    }

    &.loading {
      .load_indicator {
        //display: block;
        opacity: 1;
      }

      .colorbox-vote {
        //display: none;
        opacity: 0;
      }
    }

  }
}
