//Colors
$colors: ( red: #F44336, pink: #E91E63, purple: #9C27B0, deep-purple: #673AB7, indigo: #3F51B5, blue: #2196F3, light-blue: #03A9F4, cyan: #00BCD4, teal: #000000, green: #4CAF50, light-green: #8BC34A, lime: #CDDC39, yellow: #ffe821, amber: #FFC107, orange: #FF9800, deep-orange: #FF5722, brown: #795548, grey: #9E9E9E, blue-grey: #607D8B, black: #000000, white: #ffffff, light-red: #ffd3d3, light-yellow: #fffdd3 ) !default;


//Fonts Family
$navbar-font-family: 'Exo 2', sans-serif;
$sidebar-font-family: 'Exo 2', sans-serif;

// Project statuses
$project_fail_statuses_colors: ( 2: #F44336, 3: #9E9E9E, 4: #9E9E9E, 5: #9E9E9E, 6: #9E9E9E, 7: #9E9E9E, 8: #9E9E9E, 9: #9E9E9E );

$region_colors: ( rb: #0050A1, kostroma: #900052, yar: #3c478e, vladimir: #ad0766, ivanovo: #00665E)