﻿.five-zero-zero {
    width: 100%;
    text-align: center;
    margin: 5% auto;
    background-color: #F44336 !important;

    .five-zero-zero-container {
        .error-code {
            font-size: 160px;
            color: #FFF !important;
        }

        .error-message {
            font-size: 26px;
            color: #333 !important;
            font-weight: bold;
            margin-top: -40px;
        }

        .button-place {
            margin-top: 32px;
        }

        .sentry-error-id {
            font-size: 20px;
            color: #FFF !important;
        }
    }

}

.powered-by {
    //display: none;
}
