﻿.token-page {
    background-color: #00BCD4;
    padding-left: 0;
    max-width: 70%;
    margin: 5% auto;
    overflow-x: hidden;
    text-align: center;

    .token-box {
        h2 {
            margin-top: 0px;
            //font-size: 24px;
        }
        h3 {
            //margin-top: 0px;
            //font-size: 24px;
        }
        .msg {
            color: #555;
            font-size: 20px;
            margin: 20px 0px;
            text-align: center;
        }

        .links {
            text-align: center;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            color: #000;
        }

        .logo {
            a {
                font-size: 36px;
                display: block;
                width: 100%;
                text-align: center;
                color: #fff;
            }

            span.logo-img {
                display: inline-block;
                width: 142px;
                height: 22px;
                background: url(/images/logo.png) no-repeat;
                margin-bottom: 5px;
            }

            small {
                display: block;
                width: 100%;
                text-align: center;
                color: #fff;
                margin-top: -5px;
            }

            margin-bottom: 20px;
            text-align: center;
        }
    }
}
